$br: 40px;
$br1:25px;
$br2: 20px;
@mixin app-img{
    img{
        width: 48px;
        height: 48px;
        border-radius: 10px;
    }
}
@mixin app-img-dos($w, $h){
    img{
        width: $w;
        height: $h;
        border-radius: 10px;
    }
}
@mixin loader{
    .loader {
        width: 48px;
        height: 48px;
        top: 50%;
        border: 5px dotted #FFF;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        box-sizing: border-box;
        animation: rotation 2s linear infinite;
    
        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        } 
    }
}
@mixin ejecutar{
    .execute{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;
        border-radius: 25px;
        z-index: 2;
        background-color: rgb(255, 255, 155);
        .home{
            position: absolute;
            cursor: pointer;
            width: 100%;
            bottom: 10px;
            color: #333;
            font-size: 30px;
            font-weight: bold;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main-execute{
            width: 100%;
            height: 100%;
            color: White;
            border-radius: 28px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            .register{
                width: 250px;
                height: 250px;
                padding: 5px;
                border-radius: $br2;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                #logo{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 10px;
                    background-color: orangered;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                #form{
                    margin-top: 5px;
                    padding: 10px 15px;
                    text-decoration: none;
                    border-radius: $br2;
                    background-color: rgb(255, 217, 0);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    input{
                        margin: 5px 0px;
                        padding: 5px;
                        border: none;
                        border-radius: $br2;
                    }
                    a{
                        cursor: pointer;
                        color: white;
                        text-decoration: none;
                        padding: 5px;
                        font-size: 12px;
                        border: none;
                        border-radius: $br2;
                        background-color: orangered;
                        &:hover{
                            color: orangered;
                            background-color: white;
                        }
                    }
                    span{
                        color: black;
                        text-shadow: none;
                        font-size: 11px;
                    }
                }
            }
            .app-content{
                width: 100%;
                height: 80%;
                color: white;
                padding-top: 20px;
                border-radius: $br1 $br1 0px 0px;
                //background-color: blue;
                
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                h3{
                    width: 100%;
                    padding: 10px 0px;
                    margin-bottom: 25px;
                    background-color: orange;
                    
                    display: flex;
                    justify-content: center;
                    input{
                        border: none;
                        color:#000;
                        padding: 4px;
                        background-color: orange;
                    }
                }
                .orange-dos{
                    width: 48px;
                    height: 48px;
                    margin: 12px;
                    padding: 13.5px;
                    color: white;
                    text-decoration: none;
                    border-radius: 50px;
                    box-shadow: 0px 1px 3px #000;
                    background-color: orange;
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @include app-img;
                    &:hover{
                        background-color:orangered;
                    }
                }
            }
            .app-content-salud {
                width: 100%;
                height: 80%;
                color: white;
                padding-top: 20px;
                border-radius: $br1 $br1 0px 0px;
                
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                .cont-pet{
                    width: 100px;
                    height: 100%;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    .orange-dos{
                        width: 28px;
                        height: 28px;
                        margin: 12px;
                        padding: 13.5px;
                        color: white;
                        font-weight: bold;
                        text-decoration: none;
                        border-radius: 50px;
                        box-shadow: 0px 1px 3px #000;
                        background-color: orange;
        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @include app-img-dos(32px,32px);
                    }
                }
            }
        }
    }
    .ventana-abierta{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;
        border-radius: 25px;
        z-index: 2;
        background-color: rgba(155, 155, 155, 0.3);
        backdrop-filter: blur(4px);

        display: flex;
        justify-content: center;
        align-items: center;
        .home{
            position: absolute;
            cursor: pointer;
            width: 100%;
            bottom: 10px;
            color: #333;
            font-size: 30px;
            font-weight: bold;
            z-index: 3;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}