$br: 40px;
$br2: 20px;
@mixin app-img{
    img{
        width: 48px;
        height: 48px;
        border-radius: 10px;
    }
}
@mixin ejecutar{
    .execute{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;
        border-radius: 25px;
        z-index: 5;
        background-color: orange;
        .home{
            position: absolute;
            width: 100%;
            bottom: 10px;
            color: #333;
            font-size: 30px;
            font-weight: bold;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main-execute{
            margin: 10px;
            color: White;
        }
    }
}